@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 0px;
  background-color: #6D5959;
  }
  .nav-header {
    padding: 0px; 
    margin: 0px;
    background-color: #454545;
    align-items: center;
  }
  .nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    justify-content: center;
  }
  .nav-item {
    padding-top: 15px;
    padding-bottom: 20px;
    height: 45px;
  }
  .nav-item a {
    color: #F19953;
    text-decoration: none;
    font-size: 24px;
    font-family: "Changa" , Helvetica, sans-serif;
  }
  .nav-item a:hover {
    color: #FE5D26;
  }
  .nav-item:hover {
    background-color: #353535;
  }
  .nav-header img {
    height: 76px;
    width: 300px;
    object-fit: cover;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  .nav-img:hover {
    border: #252525 2px solid;
    border-radius: 5px;
  }
  .footer-text {
    padding-top: 10px;
    font-size: 18px;
    font-family: sans-serif, Helvetica;
    color: #F19953;
  }
  .intro {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #353535;
    color: #FFFFFF;
    height: 600px;
    font-family: "Changa" , Helvetica, sans-serif;
  }
  .intro-text {
    text-align: center;
    font-size: 16px;
    height: 250px;
    width: 80%;
    margin: 0 auto;
    margin-top: 175px;
    background-color: #454545;
    border: #FFFFFF 2px solid;
    border-radius: 50px;
  }
  .intro p {
    margin: 5%;
    font-family: sans-serif, Helvetica;
  }
  
  .portrait {
    margin: 0 auto;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
  }
  .about-me-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #6D5959;
    padding: 50px;
  }
  .card {
    width: 250px;
    border: #F19953 2px solid;
    border-radius: 10px;
    font-size: 12px;
    font-family: sans-serif, Helvetica;
    color: #FFFFFF;
    margin: 0 auto;
    background-color: #353535;
  }
  .card p {
    margin: 15px;
  }
  .card-image {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-bottom: #F19953 2px solid;
    border-radius: 8px 8px 0px 0px;
  }
  .modeling-grid {
    font-size: 14px;
    padding: 50px;
    background-color: #6D5959;
    justify-content: center;
    color: #FFFFFF;
  }
  .modeling-part-0, .modeling-part-1, .modeling-part-2 {
    display: flex;
  }
  .modeling-image-0, .modeling-image-1, .modeling-image-2 {
    object-fit: cover;
    width: 500px;
    height: 300px;
    border: #FE5D26 3px solid;
    align-self: center;
  }
  .modeling-text-0, .modeling-text-1, .modeling-text-2 {
    align-self: center;
    margin: 25px;
    font-family: sans-serif, Helvetica;
  }
  .gallery-text {
    font-size: 18px;
    color: #F19953;
    font-family: "Changa" , Helvetica, sans-serif;
  }
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    width: 90%;
    border: #FE5D26 3px solid;
    background-color: #454545;
    margin-bottom: 5%;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .resume-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
  }
  .resume {
    width: 90%;
    height: 800px;
    margin: 0 auto;
    margin-right: 25px;
  }
  .doc {
    width: 100%;
    height: 100%;
    border: #FE5D26 3px solid;
    border-radius: 10px;
  }
  .resume-image-div {
    margin-left: 25px;
  }
  .resume-image-0 {
    width: 100%;
    height: 375px;
    object-fit: cover;
    border: #FE5D26 3px solid;
    border-radius: 10px;
    margin: 0 auto;
  }
  .resume-image-1 {
    width: 100%;
    height: 375px;
    object-fit: cover;
    border: #FE5D26 3px solid;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
  }